#should ignore any build files listed below
*.lock
*.bin
*.xml

#should ignore any configuration files listed below
*.properties
*.json

#should ignore any text files
*.txt

#should ignore any graphic files types listed below
*.png
*.jpg
*.jpeg
*.svg

#should ignore any template files listed below
*.html